body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

#game-container {
    border: 1px solid #ccc;
    padding: 20px;
    background: rgb(127 157 154);
    border-radius: 10px;
}

#hand {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.card {
    border: 3px solid #977e50;
    border-radius: 5px;
    padding: 10px;
    background-color: #e4d6b8;
    cursor: pointer;
    transition: transform 0.2s;   
    width: 90px;
    height: 140px;
    text-align: center;
    text-overflow: ellipsis;
    color:darkslategrey;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.05);
}

#status {
    margin-top: 20px;
}

#scoreboard {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.player-stats {
    margin-bottom: 10px;
}

.active-player {
    font-weight: bold;
    color: #007bff;
    font-size: 1.2em;
}

.card-effect-text{
    color: green;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Background */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/swamp_background.jpg') no-repeat center center;
    background-size: cover;
}

/* Stats Container */
.stats-container {
    position: absolute;
    top: 10%;
    width: 150px;
}

.stats-container.left {
    left: 5%;
}

.stats-container.right {
    right: 5%;
}

.stat-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.stat-box span {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

/* Different box colors */
.blue { background-color: #cce0f5; }
.green { background-color: #d1f5e0; }
.purple { background-color: #d1d5f5; }
.gray { background-color: #dcdcdc; }

/* Mushroom Area */
.mushroom-area {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.character {
    width: 100px;
    text-align: center;
}

.character img {
    width: 100%;
}

/* Card Container */
.card-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 50%;
}